BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0002_rls

ALTER TABLE users ENABLE ROW LEVEL SECURITY;;

ALTER TABLE users FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON users
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE teams ENABLE ROW LEVEL SECURITY;;

ALTER TABLE teams FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON teams
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE transactions ENABLE ROW LEVEL SECURITY;;

ALTER TABLE transactions FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON transactions
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE ad_accounts ENABLE ROW LEVEL SECURITY;;

ALTER TABLE ad_accounts FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON ad_accounts
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE campaigns ENABLE ROW LEVEL SECURITY;;

ALTER TABLE campaigns FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON campaigns
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE campaign_runs ENABLE ROW LEVEL SECURITY;;

ALTER TABLE campaign_runs FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON campaign_runs
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE consumables ENABLE ROW LEVEL SECURITY;;

ALTER TABLE consumables FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON consumables
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE affiliate_networks ENABLE ROW LEVEL SECURITY;;

ALTER TABLE affiliate_networks FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON affiliate_networks
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE partner_payouts ENABLE ROW LEVEL SECURITY;;

ALTER TABLE partner_payouts FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON partner_payouts
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE alerts ENABLE ROW LEVEL SECURITY;;

ALTER TABLE alerts FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON alerts
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE audit_log ENABLE ROW LEVEL SECURITY;;

ALTER TABLE audit_log FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON audit_log
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE compensation_plans ENABLE ROW LEVEL SECURITY;;

ALTER TABLE compensation_plans FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON compensation_plans
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE payroll_runs ENABLE ROW LEVEL SECURITY;;

ALTER TABLE payroll_runs FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON payroll_runs
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE chat_messages ENABLE ROW LEVEL SECURITY;;

ALTER TABLE chat_messages FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON chat_messages
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE import_batches ENABLE ROW LEVEL SECURITY;;

ALTER TABLE import_batches FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON import_batches
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE import_rows ENABLE ROW LEVEL SECURITY;;

ALTER TABLE import_rows FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON import_rows
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

INSERT INTO alembic_version (version_num) VALUES ('0002_rls') RETURNING alembic_version.version_num;

COMMIT;

