BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> c823966262b9

CREATE TABLE companies (
    id UUID NOT NULL, 
    name VARCHAR NOT NULL, 
    base_currency CHAR(3) NOT NULL, 
    budget_requests_frozen BOOLEAN NOT NULL, 
    default_language VARCHAR NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE TABLE fx_rates (
    id UUID NOT NULL, 
    rate_date DATE NOT NULL, 
    base CHAR(3) NOT NULL, 
    quote CHAR(3) NOT NULL, 
    rate NUMERIC(20, 8) NOT NULL, 
    source VARCHAR NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE affiliate_networks (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    name VARCHAR NOT NULL, 
    payment_terms VARCHAR NOT NULL, 
    payout_model VARCHAR NOT NULL, 
    typical_hold_days INTEGER NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id)
);

CREATE TABLE payroll_runs (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    period_start DATE NOT NULL, 
    period_end DATE NOT NULL, 
    status VARCHAR NOT NULL, 
    total_amount NUMERIC(20, 4) NOT NULL, 
    currency CHAR(3) NOT NULL, 
    fx_rate_to_base NUMERIC(20, 8) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id)
);

CREATE TABLE users (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    name VARCHAR NOT NULL, 
    email VARCHAR NOT NULL, 
    password_hash VARCHAR NOT NULL, 
    role VARCHAR NOT NULL, 
    preferred_language VARCHAR, 
    telegram_user_id BIGINT, 
    telegram_chat_id BIGINT, 
    telegram_linked_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    UNIQUE (telegram_chat_id), 
    UNIQUE (telegram_user_id)
);

CREATE TABLE ad_accounts (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    platform VARCHAR NOT NULL, 
    external_account_id VARCHAR, 
    status VARCHAR NOT NULL, 
    prepared_by_user_id UUID, 
    assigned_buyer_id UUID, 
    vertical VARCHAR, 
    geo VARCHAR, 
    banned_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assigned_buyer_id) REFERENCES users (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(prepared_by_user_id) REFERENCES users (id)
);

CREATE TABLE alerts (
    id UUID NOT NULL, 
    company_id UUID, 
    type VARCHAR NOT NULL, 
    risk_level VARCHAR NOT NULL, 
    message VARCHAR NOT NULL, 
    dedup_key VARCHAR NOT NULL, 
    cooldown_until TIMESTAMP WITH TIME ZONE, 
    triggered_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    acknowledged_by UUID, 
    acknowledged_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(acknowledged_by) REFERENCES users (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id)
);

CREATE TABLE audit_log (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    actor_user_id UUID, 
    entity_type VARCHAR NOT NULL, 
    entity_id UUID, 
    action VARCHAR NOT NULL, 
    diff JSON, 
    request_id UUID, 
    ip_address INET, 
    user_agent VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(actor_user_id) REFERENCES users (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(entity_id) REFERENCES companies (id), 
    FOREIGN KEY(request_id) REFERENCES companies (id)
);

CREATE TABLE chat_messages (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    role VARCHAR NOT NULL, 
    content VARCHAR NOT NULL, 
    tool_calls_used JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE TABLE compensation_plans (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    base_salary NUMERIC(20, 4) NOT NULL, 
    bonus_percent NUMERIC(5, 2) NOT NULL, 
    bonus_basis VARCHAR NOT NULL, 
    quota_target NUMERIC(20, 4), 
    rate_per_unit NUMERIC(20, 4), 
    currency CHAR(3) NOT NULL, 
    fx_rate_to_base NUMERIC(20, 8) NOT NULL, 
    effective_from DATE NOT NULL, 
    effective_to DATE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE TABLE import_batches (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    filename VARCHAR NOT NULL, 
    file_hash VARCHAR, 
    status VARCHAR NOT NULL, 
    delimiter CHAR(1), 
    encoding VARCHAR, 
    column_mapping JSON, 
    total_rows INTEGER NOT NULL, 
    valid_rows INTEGER NOT NULL, 
    error_rows INTEGER NOT NULL, 
    imported_rows INTEGER NOT NULL, 
    created_by UUID, 
    committed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(created_by) REFERENCES users (id)
);

CREATE TABLE invites (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    email VARCHAR NOT NULL, 
    role VARCHAR NOT NULL, 
    token_hash VARCHAR NOT NULL, 
    invited_by UUID NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    accepted_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(invited_by) REFERENCES users (id), 
    UNIQUE (token_hash)
);

CREATE TABLE payroll_line_items (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    payroll_run_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    base_amount NUMERIC(20, 4) NOT NULL, 
    bonus_amount NUMERIC(20, 4) NOT NULL, 
    total_amount NUMERIC(20, 4) NOT NULL, 
    currency CHAR(3) NOT NULL, 
    fx_rate_to_base NUMERIC(20, 8) NOT NULL, 
    status VARCHAR NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(payroll_run_id) REFERENCES payroll_runs (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE TABLE teams (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    name VARCHAR NOT NULL, 
    lead_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(lead_user_id) REFERENCES users (id)
);

CREATE TABLE telegram_link_tokens (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    token_hash VARCHAR NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    used_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (token_hash)
);

CREATE TABLE campaigns (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    team_id UUID, 
    assigned_user_id UUID, 
    ad_account_id UUID, 
    source VARCHAR, 
    platform VARCHAR, 
    geo VARCHAR, 
    vertical VARCHAR, 
    funding_status VARCHAR NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(ad_account_id) REFERENCES ad_accounts (id), 
    FOREIGN KEY(assigned_user_id) REFERENCES users (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(team_id) REFERENCES teams (id)
);

CREATE TABLE transactions (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    type VARCHAR NOT NULL, 
    category VARCHAR NOT NULL, 
    amount NUMERIC(20, 4) NOT NULL, 
    currency CHAR(3) NOT NULL, 
    fx_rate_to_base NUMERIC(20, 8), 
    amount_in_base NUMERIC(20, 4), 
    occurred_on DATE NOT NULL, 
    team_id UUID, 
    description VARCHAR, 
    source VARCHAR NOT NULL, 
    external_id VARCHAR, 
    import_batch_id UUID, 
    created_by UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(created_by) REFERENCES users (id), 
    FOREIGN KEY(import_batch_id) REFERENCES import_batches (id), 
    FOREIGN KEY(team_id) REFERENCES teams (id)
);

CREATE UNIQUE INDEX uix_company_source_external ON transactions (company_id, source, external_id) WHERE external_id IS NOT NULL;

CREATE TABLE campaign_runs (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    campaign_id UUID, 
    ad_account_id UUID, 
    buyer_id UUID NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    ended_at TIMESTAMP WITH TIME ZONE, 
    status VARCHAR NOT NULL, 
    note VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(ad_account_id) REFERENCES ad_accounts (id), 
    FOREIGN KEY(buyer_id) REFERENCES users (id), 
    FOREIGN KEY(campaign_id) REFERENCES campaigns (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id)
);

CREATE TABLE consumables (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    type VARCHAR NOT NULL, 
    ad_account_id UUID, 
    identifier VARCHAR, 
    cost NUMERIC(20, 4) NOT NULL, 
    currency CHAR(3) NOT NULL, 
    fx_rate_to_base NUMERIC(20, 8) NOT NULL, 
    purchased_on DATE NOT NULL, 
    expires_on DATE, 
    status VARCHAR NOT NULL, 
    transaction_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(ad_account_id) REFERENCES ad_accounts (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(transaction_id) REFERENCES transactions (id)
);

CREATE TABLE decision_recommendations (
    recommendation_id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    campaign_id UUID, 
    type VARCHAR NOT NULL, 
    vertical VARCHAR, 
    geo VARCHAR, 
    field VARCHAR NOT NULL, 
    current_value NUMERIC(20, 4), 
    recommended_value NUMERIC(20, 4) NOT NULL, 
    change_percent NUMERIC(10, 2), 
    reasoning VARCHAR NOT NULL, 
    confidence_score NUMERIC(5, 2) NOT NULL, 
    status VARCHAR NOT NULL, 
    created_by VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (recommendation_id), 
    FOREIGN KEY(campaign_id) REFERENCES campaigns (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id)
);

CREATE TABLE import_rows (
    id UUID NOT NULL, 
    batch_id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    row_number INTEGER NOT NULL, 
    raw JSON, 
    parsed JSON, 
    errors JSON, 
    status VARCHAR NOT NULL, 
    transaction_id UUID, 
    PRIMARY KEY (id), 
    FOREIGN KEY(batch_id) REFERENCES import_batches (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(transaction_id) REFERENCES transactions (id)
);

CREATE TABLE partner_payouts (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    network_id UUID NOT NULL, 
    campaign_id UUID, 
    buyer_id UUID, 
    amount NUMERIC(20, 4) NOT NULL, 
    expected_amount NUMERIC(20, 4) NOT NULL, 
    scrubbed_amount NUMERIC(20, 4) NOT NULL, 
    actual_amount NUMERIC(20, 4) NOT NULL, 
    currency CHAR(3) NOT NULL, 
    fx_rate_to_base NUMERIC(20, 8) NOT NULL, 
    status VARCHAR NOT NULL, 
    booked_on DATE NOT NULL, 
    hold_until DATE, 
    paid_on DATE, 
    transaction_id UUID, 
    note VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(buyer_id) REFERENCES users (id), 
    FOREIGN KEY(campaign_id) REFERENCES campaigns (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(network_id) REFERENCES affiliate_networks (id), 
    FOREIGN KEY(transaction_id) REFERENCES transactions (id)
);

CREATE TABLE campaign_run_stats (
    id UUID NOT NULL, 
    company_id UUID NOT NULL, 
    campaign_run_id UUID NOT NULL, 
    stat_date DATE NOT NULL, 
    spend NUMERIC(20, 4) NOT NULL, 
    revenue NUMERIC(20, 4) NOT NULL, 
    currency CHAR(3) NOT NULL, 
    fx_rate_to_base NUMERIC(20, 8) NOT NULL, 
    source VARCHAR NOT NULL, 
    external_id VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(campaign_run_id) REFERENCES campaign_runs (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    CONSTRAINT uq_campaign_run_stats_date UNIQUE (company_id, campaign_run_id, stat_date)
);

INSERT INTO alembic_version (version_num) VALUES ('c823966262b9') RETURNING alembic_version.version_num;

-- Running upgrade c823966262b9 -> 0002_rls

ALTER TABLE users ENABLE ROW LEVEL SECURITY;;

ALTER TABLE users FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON users FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE teams ENABLE ROW LEVEL SECURITY;;

ALTER TABLE teams FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON teams FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE transactions ENABLE ROW LEVEL SECURITY;;

ALTER TABLE transactions FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON transactions FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE ad_accounts ENABLE ROW LEVEL SECURITY;;

ALTER TABLE ad_accounts FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON ad_accounts FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE campaigns ENABLE ROW LEVEL SECURITY;;

ALTER TABLE campaigns FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON campaigns FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE campaign_runs ENABLE ROW LEVEL SECURITY;;

ALTER TABLE campaign_runs FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON campaign_runs FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE consumables ENABLE ROW LEVEL SECURITY;;

ALTER TABLE consumables FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON consumables FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE affiliate_networks ENABLE ROW LEVEL SECURITY;;

ALTER TABLE affiliate_networks FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON affiliate_networks FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE partner_payouts ENABLE ROW LEVEL SECURITY;;

ALTER TABLE partner_payouts FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON partner_payouts FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE alerts ENABLE ROW LEVEL SECURITY;;

ALTER TABLE alerts FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON alerts FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE audit_log ENABLE ROW LEVEL SECURITY;;

ALTER TABLE audit_log FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON audit_log FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE compensation_plans ENABLE ROW LEVEL SECURITY;;

ALTER TABLE compensation_plans FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON compensation_plans FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE payroll_runs ENABLE ROW LEVEL SECURITY;;

ALTER TABLE payroll_runs FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON payroll_runs FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE chat_messages ENABLE ROW LEVEL SECURITY;;

ALTER TABLE chat_messages FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON chat_messages FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE import_batches ENABLE ROW LEVEL SECURITY;;

ALTER TABLE import_batches FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON import_batches FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE import_rows ENABLE ROW LEVEL SECURITY;;

ALTER TABLE import_rows FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON import_rows FOR ALL TO app_user
        USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid)
        WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

UPDATE alembic_version SET version_num='0002_rls' WHERE alembic_version.version_num = 'c823966262b9';

-- Running upgrade 0002_rls -> e8acf4873fc7

ALTER TABLE campaign_run_stats ENABLE ROW LEVEL SECURITY;;

ALTER TABLE campaign_run_stats FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON campaign_run_stats FOR ALL TO app_user USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid) WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE decision_recommendations ENABLE ROW LEVEL SECURITY;;

ALTER TABLE decision_recommendations FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON decision_recommendations FOR ALL TO app_user USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid) WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE invites ENABLE ROW LEVEL SECURITY;;

ALTER TABLE invites FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON invites FOR ALL TO app_user USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid) WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE payroll_line_items ENABLE ROW LEVEL SECURITY;;

ALTER TABLE payroll_line_items FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON payroll_line_items FOR ALL TO app_user USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid) WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE telegram_link_tokens ENABLE ROW LEVEL SECURITY;;

ALTER TABLE telegram_link_tokens FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON telegram_link_tokens FOR ALL TO app_user USING (company_id = nullif(current_setting('app.company_id', true), '')::uuid) WITH CHECK (company_id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE companies ENABLE ROW LEVEL SECURITY;;

ALTER TABLE companies FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON companies FOR ALL TO app_user USING (id = nullif(current_setting('app.company_id', true), '')::uuid) WITH CHECK (id = nullif(current_setting('app.company_id', true), '')::uuid);;

ALTER TABLE fx_rates ENABLE ROW LEVEL SECURITY;;

ALTER TABLE fx_rates FORCE ROW LEVEL SECURITY;;

CREATE POLICY tenant_isolation ON fx_rates FOR ALL TO app_user USING (true) WITH CHECK (false);;

GRANT USAGE ON SCHEMA public TO app_user;;

GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO app_user;;

ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL ON TABLES TO app_user;;

UPDATE alembic_version SET version_num='e8acf4873fc7' WHERE alembic_version.version_num = '0002_rls';

-- Running upgrade e8acf4873fc7 -> 4826288717b7

ALTER TABLE audit_log DROP CONSTRAINT audit_log_entity_id_fkey;

ALTER TABLE audit_log DROP CONSTRAINT audit_log_request_id_fkey;

UPDATE alembic_version SET version_num='4826288717b7' WHERE alembic_version.version_num = 'e8acf4873fc7';

-- Running upgrade 4826288717b7 -> 13f060b286e3

SET search_path TO public, extensions;;

SELECT 1 FROM pg_extension WHERE extname='btree_gist';

